<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.real_estate_business">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/property_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.real_estate_business.A_EndUser.notificationClass"/>
        <activity android:name="com.example.real_estate_business.A_EndUser.lastview_property" />
        <activity android:name="com.example.real_estate_business.A_EndUser.contacted_property" />
        <activity android:name="com.example.real_estate_business.A_EndUser.shortlisted_property" />
        <activity android:name="com.example.real_estate_business.AdminPushNotifi" />
        <activity
            android:name="com.example.real_estate_business.A_EndUser.ViewProperty"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.A_EndUser.view_images"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.Post_property.edit_image"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.Post_property.Start331AllResidential_Edit"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.A_EndUser.Start331AllCommercial_View"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.real_estate_business.A_EndUser.Start331AllResidential2_View"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.real_estate_business.A_EndUser.Start331AllResidential_View"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.real_estate_business.Post_property.ImagesUpload"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.posted_property"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.real_estate_business.activity.post_package"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Login"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Sign_Up"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.searchFilter_1"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start13_1_2_3_all"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start131"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start13"
            android:theme="@style/AppTheme.start" />
        <activity android:name="com.example.real_estate_business.activity.AgentRegistration" />
        <activity
            android:name="com.example.real_estate_business.activity.Start333_PG"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start332AllPropertyStatus"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start332AllResidentialPrice"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllCommercial6"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllCommercial5"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllCommercial4"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllCommercial3"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllCommercial2"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllCommercial"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllResidential3"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllResidential2"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllPropertyStatus"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllResidentialPrice"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331AllResidential"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.All331ProjectSearch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.real_estate_business.activity.All331CitySearch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.real_estate_business.activity.Start331All"
            android:theme="@style/AppTheme.start">

            <!--
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.real_estate_business.activity.Start331"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start32"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start33"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start31"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start12Login"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.Start11"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name="com.example.real_estate_business.activity.StartActivty"
            android:theme="@style/AppTheme.start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.real_estate_business.activity.MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <service
            android:name="com.example.real_estate_business.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/property_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
    </application>

</manifest>