<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.propertyrealtors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/property_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Post_property.ImagesUpload" />
        <activity android:name=".Post_property.DetailsAdding" />
        <activity
            android:name=".activity.posted_property"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.post_package" />
        <activity
            android:name=".activity.Adding_City"
            android:theme="@style/AppTheme.start"></activity>
        <activity
            android:name=".activity.Login"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Sign_Up"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.ProjectSearch"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.CitySearch"
            android:theme="@style/AppTheme.start" />
        <activity android:name=".activity.Search_Property" />
        <activity
            android:name=".activity.searchFilter_1"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start23_1_2_3_all"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start13_1_2_3_all"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start133"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start132"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start131"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start13"
            android:theme="@style/AppTheme.start" />
        <activity android:name=".activity.AgentRegistration" />
        <activity
            android:name=".activity.Start33Agent"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start32Agent"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start332"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start333_PG"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start332AllPropertyStatus"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start332AllResidentialPrice"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllCommercial6"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllCommercial5"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllCommercial4"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllCommercial3"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllCommercial2"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllCommercial"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllResidential3"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllResidential2"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllPropertyStatus"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllResidentialPrice"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start331AllResidential"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.All331ProjectSearch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.All331CitySearch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Start331All"
            android:theme="@style/AppTheme.start">

            <!--
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.Start331"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start32"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start33"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start31"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start12Login"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.Start11"
            android:theme="@style/AppTheme.start" />
        <activity
            android:name=".activity.StartActivty"
            android:theme="@style/AppTheme.start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>